body {
    font-family: 'Poppins', sans-serif;
}

/* section1 */
.section1 {
    margin-bottom: 67px;
}
.head {
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    padding-top: 54px;
    padding-bottom: 54px;
}
.p-text {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #5863F8;
    margin-bottom: 5px;
}
.h2 {
    font-size: 42px;
    font-weight: bolder;
    color: #000000;
}
.submit {
    margin-bottom: 50px;
}
form {
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
textarea {
    resize: none;
    width: 720px;
    height: 288px;
    background-color: #F8F8F8;
    padding: 20px;
    outline: none;
    border: 2px solid #E8E8E8;
}
::placeholder {
    color: #afafaf;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.input-box {
    display: flex;
    flex-direction: column;
    vertical-align: auto;
}
input:focus {
    outline: none;
}
.input-form {
    width: 352px;
    height: 60px;
    padding: 20px;
    border: none;
    border: 2px solid #E8E8E8;
    background-color: #F8F8F8;
    margin-bottom: 16px;
}
button {
    width: 352px;
    height: 60px;
    background-color: #5863F8;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/* contact */
.contact {
    max-width: 1088px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.paragraph {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 6px;
}
.p-text1 {
    font-size: 14px;
    font-weight: bold;
    color: #afafaf;
    margin-bottom: 5px;
}

/* section2 */
.section2 {
    margin-bottom: 30px;
}
.pictures {
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* footer */
.footer {
    background-color: #121212;
}
.footer-div {
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}
.footer-div1 {
    max-width: 260px;
    width: 100%;
    max-height: 192px;
    height: 100%;
}
.h3 {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 22px;
}
.p-text2 {
    font-size: 14px;
    font-weight: bold;
    color: #B1B1B1;
    margin-bottom: 20px;
}
.logos {
    max-width: 136.5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.links {
    max-width: 546px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.p-text3 {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 21px;
}
ul a {
    font-size: 14px;
    font-weight: bold;
    color: #5863F8;
}
.yes:not(.not) {
    margin-bottom: 11px;
}
.span {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 14px;
    vertical-align: middle;
}
.icon {
    vertical-align: middle;
}
.margin {
    margin-bottom: 21px;
}